@charset "UTF-8";
@media only screen and (min-width: 45em) and (max-width: 64em) {
/*Small Desktop and table*/




*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

html {
	background: #095e81;
	background-image: url(img/background01.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

body {
	font: 100% 'Titillium Web', Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	font-weight: normal;
	font-style: normal;
	width: 100%;
	/* max-width:1000px; */
	margin: 0 auto;
	color: #fff;
}

a {
	color: #b9b9b9;
}

.mobileOnly, #mobileNav, .desktopOnly{
	display: none !important;
}

/*nav styles*/
#mainNav {
	overflow: hidden;
	margin: 0 auto;
}

.navWrapper {
	background-image: url(img/navWrapper.png);
	text-align: center;
}

#mainNav ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-bottom: -6px;
	zoom: 1;
	*display: inline;
}

#mainNav li {
	display: inline;
	float: left;
	margin: auto auto;
	padding: 7px 20px;
}
#mainNav li:hover {
	/*background-image: url(../_images/mainWrapper.png);*/
	background: rgba(0, 0, 0, 0.2);
}

#mainNav a {
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	color: #8bafc4;
	border: none;
	font-size: 19px;
	text-align: center;
	text-decoration: none;
}

#mainNav a:hover {
	color: #dcdcdc;
}

#mainNav li.current {
	background: rgba(0, 0, 0, 0.43);
}
#mainNav .current a {
	color: #dcdcdc;
	cursor: default;
	text-decoration: none;
}

/*Home styles*/
.mainWrapper {
	background-image: url(img/mainWrapper.png);
	text-align: center;
	margin: 0;
	padding: 0 3%;
}
.mainWrapper + p {
	font-weight: 700;
	display: block;
	color: #FFFFFF;
	font-size: 45px;
	text-align: center;
	text-decoration: none;
	margin: 0;
}

.textShadow{
	text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

/*  HOMEPAGE LOGO */
div#logoHeader{
	display: inline-block;
	margin: 30px 0;
	padding: 0;
}

#logoHeader div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0;
}

#logoHeader .logoText div {
	display: block;
}


#logoHeader .logoImage{
	margin: 0 0;
}

#logoHeader img{
	display: inline;
	vertical-align: middle;
	margin-top: 15px;
}

#logoHeader .logoText div {
	display: block;
}

#logoHeader h1 {
	color: #dcdcdc;
	font: 61px "Kreon", sans-serif;
	margin: 0;
	padding: 0;
}

#logoHeader h2 {
	color: #7ea2b2;
	font: 21px "Kreon", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}





/*  SUBPAGE LOGO */
div#logoSubHeader{
	display: inline-block;
	margin: 30px 0;
	padding: 0;
	border: #00f 0px solid;
}

#logoSubHeader div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0;
}

#logoSubHeader .logoText div {
	display: block;
	border: #f00 0px solid;
}


#logoSubHeader .logoImage{
	margin: 0 0;
}

#logoSubHeader img{
	display: inline;
	vertical-align: middle;
	border: #0ff 0px solid;
	margin-top: 7px;
	height: 91px;
	width: 120px;
}

#logoSubHeader .logoText div {
	display: block;
}

#logoSubHeader h1 {
	color: #dcdcdc;
	font: 40px "Kreon", sans-serif;
	margin: 0;
	padding: 0;
	border: #0F0 0px solid;
}

#logoSubHeader h2 {
	color: #7ea2b2;
	font: 18px "Kreon", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	border: #F00 0px solid;
}






/*  About */
#about{
	color: #dcdcdc;
	display: block;
	vertical-align: top;
	text-align: left;
	padding: 10px 0;
	margin:0;	
	background: rgba(22, 82, 126, 1.0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NTI3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iIzAzMWIyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #16527e 0%, #031b25 13%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#16527e), color-stop(13%,#031b25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #16527e 0%,#031b25 13%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #16527e 0%,#031b25 13%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #16527e 0%,#031b25 13%); /* IE10+ */
	background: linear-gradient(to right,  #16527e 0%,#031b25 13%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16527e', endColorstr='#031b25',GradientType=1 ); /* IE6-8 */
}

#about div{
	display:inline-block;
	vertical-align: top;
	width: 41%;
}
#about div:first-child{
	width: auto;
}

#about h1:first-child{
	display: inline-block;
	color: #dcdcdc;
	font: 34px "Kreon", sans-serif;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	margin: 40px 0 0 0;
	padding: 0;
	border: #900 0px solid;
}

#about h2, #about strong{
	color: #dcdcdc;
	font: 22px "Kreon", sans-serif;
	padding:10px 0 0 0;
	margin:0;
}

#about ul{
	padding:0 0 0 20px ;
	margin:0;
}


/* ========================= Video On Home Page */

#videoOnHome{
	color: #dcdcdc;
	display: block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	text-align: left;
}

div #videoOnHome{
	width: 100%;
}

#videoOnHome div{
	float: left;
	display: inline-block;
	width: 40%;
	_border: #ff0 1px dotted;
	padding-left: 2%;
}

#videoOnHome div:first-child{
	width: auto;
	padding:0;
}

div #videoOnHome iframe{
	box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}

#videoOnHome h2, #videoOnHome strong{
	color: #dcdcdc;
	font: 22px "Kreon", sans-serif;
	padding:10px 0 0 0;
	margin:0;
}

#videoOnHome ul{
	padding:0 0 0 20px ;
	margin:0;
}



/* ========================= Three Accross */

#threeAcross{
	display: block;
	vertical-align: top;
	padding: 1% 0 22% 0;
	margin: 0 0 0 0;
}


div #threeAcross{
	display:block;
	width: 100%;
	text-align: left;
	clear: left;
}


#threeAcross img{
	width: 100%;
}


#threeAcross div{
	display: inline-block;
	float: left;
	width: 31%;  /* Tile width */
	padding: 0;
	_margin: 4% 5% 33% 0;
	margin-top: 1%;
	margin-bottom: 0%;
	margin-right: 2.25%;
	margin-bottom: 0%;
	box-shadow: 0em 0.5em 1em rgba(0,0,0,0.6);
	background-color: #900;
	_border: 1px #0f0 dotted;
}

#threeAcross a{
	float: left;
	position: absolute;
	width: 30%;  /* Tile width (minus) one */
	z-index: 5;
	_border: dotted 1px #fff;
}

#threeAcross h2{
	_float: left;
	position:absolute;
	z-index: 2;
	color: #FFFFFF;
	font: 3.25vw "Kreon", sans-serif;
	_padding: 0 0 0 0;
	margin: 50% 0 0 5%;
	bottom: 6.5%;
}

#threeAcross span.jobTitle {
	display: block;
	color: #FFFFFF;
	font: 2vw "Kreon", sans-serif;
	font-weight: 300;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#threeAcross div:nth-child(5){
	margin-right: 0;
}

#threeAcross div.gradient{
	padding: 0;
	margin: 0;
	float: left;
	position:absolute;
	height: 97.75%;
	width: 100%;
	z-index: 1;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwLjE4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTVkOGYiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,93,143,0) 0%, rgba(25,93,143,0) 40%, rgba(25,93,143,0.18) 66%, rgba(25,93,143,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,93,143,0)), color-stop(40%,rgba(25,93,143,0)), color-stop(66%,rgba(25,93,143,0.18)), color-stop(100%,rgba(25,93,143,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00195d8f', endColorstr='#d9195d8f',GradientType=0 ); /* IE6-8 */
}




#threeAcross div.gradient:hover{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjMTk1ZDhmIiBzdG9wLW9wYWNpdHk9IjAuNiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTk1ZDhmIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,93,143,0.1) 0%, rgba(25,93,143,0.6) 66%, rgba(25,93,143,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,93,143,0.1)), color-stop(66%,rgba(25,93,143,0.6)), color-stop(100%,rgba(25,93,143,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a195d8f', endColorstr='#e6195d8f',GradientType=0 ); /* IE6-8 */

}




/* ============================= Four Across */

#fourAcross{
	display: block;
	vertical-align: top;
	padding: 1% 0 20% 0;
	margin: 0 0 0 0;
}

div #fourAcross{
	display:block;
	width: 100%;
	text-align: left;
	clear: left;
}

#fourAcross img{
	width: 100%;
}


#fourAcross div{
	display: inline-block;
	float: left;
	width: 23%;
	padding: 0;
	_margin: 4% 5% 33% 0;
	margin-top: 1%;
	margin-bottom: 0%;
	margin-right: 2.25%;
	margin-bottom: 0%;
	box-shadow: 0em 0.5em 1em rgba(0,0,0,0.6);
	background-color: #900;
	_border: 1px #0f0 dotted;
}

#fourAcross a{
	float: left;
	position: absolute;
	width: 22%;
	z-index: 5;
	_border: dotted 1px #fff;
}

#fourAcross h2{
	_float: left;
	position:absolute;
	z-index: 2;
	color: #FFFFFF;
	font: 2.5vw "Kreon", sans-serif;
	_padding: 0 0 0 0;
	margin: 50% 0 0 5%;
	bottom: 7%;
}

#fourAcross span.jobTitle {
	display: block;
	color: #FFFFFF;
	font: 2vw "Kreon", sans-serif;
	font-weight: 300;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#fourAcross div:nth-child(4){
	margin-right: 0;
}

#fourAcross div.gradient{
	padding: 0;
	margin: 0;
	float: left;
	position:absolute;
	height: 97.75%;
	width: 100%;
	z-index: 1;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwLjE4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTVkOGYiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,93,143,0) 0%, rgba(25,93,143,0) 40%, rgba(25,93,143,0.18) 66%, rgba(25,93,143,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,93,143,0)), color-stop(40%,rgba(25,93,143,0)), color-stop(66%,rgba(25,93,143,0.18)), color-stop(100%,rgba(25,93,143,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00195d8f', endColorstr='#d9195d8f',GradientType=0 ); /* IE6-8 */
}




#fourAcross div.gradient:hover{
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjMTk1ZDhmIiBzdG9wLW9wYWNpdHk9IjAuNiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTk1ZDhmIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,93,143,0.1) 0%, rgba(25,93,143,0.6) 66%, rgba(25,93,143,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,93,143,0.1)), color-stop(66%,rgba(25,93,143,0.6)), color-stop(100%,rgba(25,93,143,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a195d8f', endColorstr='#e6195d8f',GradientType=0 ); /* IE6-8 */
}



/* ======================================= News*/
div#news{
	display:inline-block;
	vertical-align: top;
	color: #b9b9b9;
	text-align: left;
	margin: 0 0 30px 0;
	width: 100%;
}

#news h1{
	color: #7ea2b2;
	font: 29px "Kreon", sans-serif;
}

#news h2{
	display:inline-block;
	color: #dcdcdc;
	font-size: 19px;
	margin: 25px 0 0 0;
	padding: 0;
}

#news h1+h2{
	margin: 0;
}

#news h2+p{
	color: #7ea2b2;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#news p{
	margin: 0 0 20px 0;
	padding: 0;
}

#news iframe, #news img{
	float: right;
	margin: 5px 0 25px 25px;
	width: 450px;
	height: 232px;
}




/*  FOOTER */
div#footer{
	display: inline-block;
	margin: 4% 0 4% 0;
	padding: 0;
}

#footer div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0;
}

#footer .logoText div {
	display: block;
}


#footer .logoImage{
	margin: 0 0;
}

#footer img{
	display: inline;
	vertical-align: middle;
	border: #0ff 0px solid;
}

#footer .logoText div {
	display: block;
}

#footer h1 {
	color: #2f4e5a;
	font: 16px "Kreon", sans-serif;
	margin:  12px 0 0 0;
	padding: 0;
	border: #0F0 0px solid;
}

#footer h2 {
	color: #1c4252;
	font: 14px "Kreon", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	border: #F00 0px solid;
}

#footer a {
	color: #1c4252;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}



/* PAGE HEADER */
#pageHeader h1{
	display: block;
	text-align:left;
	margin: 0;
	padding: 0;
	color: #dcdcdc;
	font: 35px "Kreon", sans-serif;
	margin: 0;
	padding: 0;
	
}



/* ========================== Single Column */
div#singleColumn{
	display:inline-block;
	vertical-align: top;
	color: #b9b9b9;
	text-align: left;
	margin: 0;
}

#singleColumn h1{
	margin: 60px auto auto auto;
	color: #7ea2b2;
	font: 29px "Kreon", sans-serif;
}
#singleColumn h1:first-child{
	margin: auto;
}

#singleColumn h2{
	display:inline-block;
	color: #dcdcdc;
	font-size: 19px;
	margin: 0em 0 0 0;
	padding: 0;
}

#singleColumn h1+h2{
	margin: 0;
}

#singleColumn h2{
	display:block;
	color: #dcdcdc;
	font-size: 19px;
	margin: 25px 0 0 0;
	padding: 0;
}

#singleColumn h3{
	display:block;
	_color: #dcdcdc;
	color: #7ea2b2;
	font-size: 18px;
	margin: 25px 0 0 0;
	padding: 0;
}

#singleColumn p{
	margin: 0 0 20px 0;
	padding: 0;
}

#singleColumn iframe, #singleColumn img{
	float: right;
	margin: 5px 0 25px 25px;
}

#singleColumn ul{
	margin: auto auto auto 1em;
}

#singleColumn strong{
	font-weight: 700;
	font-size: 120%;
}







/* Content */
div#content{
	display:inline-block;
	color: #b9b9b9;
	text-align: left;
	margin: 0 30px 30px 30px;
}

#content div.bio{
	display: block;
	border-bottom: #2f4e5a 2px dotted;
	margin: 0;
	padding: 30px 0 20px 0;
	overflow: auto; 
}

#content div.bio:first-child{
	padding: 50px 0 20px 0;
	overflow: auto; 
}

#content div.bio:last-child{
	border: 0;
	margin: 0;
	padding: 0;
	padding: 30px 0 0 0;
}

#content div.bio div.leftCol{
	float: left;
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
	width: 33%;
}

#content div.bio div.rightCol{
	display:inline-block;
	margin: 0 0 0 0;
	padding: 0;
	width: 66%;

}

#content div.bio div.leftCol img{
	width: 90%;
}

#content h1{
	color: #7ea2b2;
	font: 29px "Kreon", sans-serif;
	margin-top: 0px;
}

#content p{
	margin: 0 0 20px 0;
	padding: 0;
}

div#content div.bio div.rightCol p span{
	color: #7ea2b2;
	font: 26px "Kreon", sans-serif;
}

div#content div.bio div.leftCol iframe, div#content div.bio div.leftCol img{
	margin: 5px 25px 25px 0;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}


}
