@charset "UTF-8";

@media only screen and (max-width: 45em) {
/*phone stuff*/



/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

html {
	_background: #095e81;
	background: #092a3c;
	background-position: top center;
	background-repeat: no-repeat;
}

body {
	font: 100% 'Titillium Web', Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	font-weight: normal;
	font-style: normal;
	width: 100%;
	/* max-width:1000px; */
	_margin: 0 auto;
	margin-top: 0;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

a {
	color: #b9b9b9;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  padding-right:15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0.15em; /* Length */
  width: 0.7em;
  height: 0.2em;
  background: #dcdcdc;
  box-shadow: 
    0 0.4em 0 0 #dcdcdc,
    0 0.85em 0 0 #dcdcdc;
}




/*Home styles*/
.mainWrapper {
	_background-image: url(../_images/mainWrapper.png);
	_text-align: center;
	margin: 0;
	padding: 0 10px 0 10px;
	_width: 100%;
	_border: 1px solid #fff;
}
.mainWrapper + p {
	font-weight: 700;
	display: block;
	color: #FFFFFF;
	font-size: 45px;
	text-align: center;
	text-decoration: none;
	margin: 0;
}

.textShadow{
	text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

/*  HOMEPAGE LOGO */
div#logoHeader{
	display: none;
}



/*  SUBPAGE LOGO */
div#logoSubHeader{
	display: none;
}


/*  About */
#about{
	color: #dcdcdc;
	display: none;
	vertical-align: top;
	text-align: left;
	padding: 10px 0;
	margin:0;	
	background: rgba(22, 82, 126, 1.0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NTI3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iIzAzMWIyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #16527e 0%, #031b25 13%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#16527e), color-stop(13%,#031b25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #16527e 0%,#031b25 13%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #16527e 0%,#031b25 13%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #16527e 0%,#031b25 13%); /* IE10+ */
	background: linear-gradient(to right,  #16527e 0%,#031b25 13%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16527e', endColorstr='#031b25',GradientType=1 ); /* IE6-8 */
}

#about div{
	display:inline-block;
	vertical-align: top;
	width: 41%;
}
#about div:first-child{
	width: auto;
}

#about h1:first-child{
	display: inline-block;
	color: #dcdcdc;
	font: 34px "Kreon", sans-serif;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	margin: 40px 0 0 0;
	padding: 0;
	border: #900 0px solid;
}

#about h2, #about strong{
	color: #dcdcdc;
	font: 22px "Kreon", sans-serif;
	padding:10px 0 0 0;
	margin:0;
}

#about ul{
	padding:0 0 0 20px ;
	margin:0;
}




/*  Home: Three Across */

#threeAcross, #fourAcross{
	display: block;
	vertical-align: top;
	padding: 2% 0 30% 1%;
	margin:0;
}

div #threeAcross, div #fourAcross{
	display:block;
	width: 100%;
}

#threeAcross img, #fourAcross img{
	width: 100%;
}


#threeAcross div, #fourAcross div{
	display: inline-block;
	float: left;
	width: 46%;
	padding: 0;
	margin: 4% 5% 33% 0;
	box-shadow: 0em 0.5em 1em rgba(0,0,0,0.6);
	background-color: #900;
	_border: 1px #0f0 dotted;
}

#fourAcross div{
	margin: 4% 5% 38% 0;
}

div#threeAcross div:nth-child(even), div#fourAcross div:nth-child(even){
	margin-right: 0;
}

#threeAcross a, #fourAcross a{
	float: left;
	position: absolute;
	width: 45%;
	z-index: 5;
	_border: dotted 1px #fff;
}

#threeAcross h2, #fourAcross h2{
	float: left;
	position:absolute;
	z-index: 2;
	color: #FFFFFF;
	font: 5.25vw "Kreon", sans-serif;
	padding: 0 0 0 0;
	margin: 50% 0 0 4%;
	z-index: 2;
	bottom: 6%;
}

#fourAcross h2{
	padding: 0 0 0 0;
	margin: 60% 0 0 4%;
}

#fourAcross span.jobTitle {
	display: block;
	color: #FFFFFF;
	font: 4vw "Kreon", sans-serif;
	font-weight: 300;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#fourAcross div:nth-child(2){
	margin-left: 0;
}

#threeAcross div.gradient, #fourAcross div.gradient{
	padding: 0;
	margin: 0;
	float: left;
	position:absolute;
	height: 97.75%;
	width: 100%;
	z-index: 1;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwLjE4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTVkOGYiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,93,143,0) 0%, rgba(25,93,143,0) 40%, rgba(25,93,143,0.18) 66%, rgba(25,93,143,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,93,143,0)), color-stop(40%,rgba(25,93,143,0)), color-stop(66%,rgba(25,93,143,0.18)), color-stop(100%,rgba(25,93,143,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,93,143,0) 0%,rgba(25,93,143,0) 40%,rgba(25,93,143,0.18) 66%,rgba(25,93,143,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00195d8f', endColorstr='#d9195d8f',GradientType=0 ); /* IE6-8 */
}




/*  Four Across */

#threeAcross div.gradient:hover, #fourAcross div.gradient:hover{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NWQ4ZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjMTk1ZDhmIiBzdG9wLW9wYWNpdHk9IjAuNiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTk1ZDhmIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(25,93,143,0.1) 0%, rgba(25,93,143,0.6) 66%, rgba(25,93,143,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,93,143,0.1)), color-stop(66%,rgba(25,93,143,0.6)), color-stop(100%,rgba(25,93,143,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(25,93,143,0.1) 0%,rgba(25,93,143,0.6) 66%,rgba(25,93,143,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a195d8f', endColorstr='#e6195d8f',GradientType=0 ); /* IE6-8 */
}




/* Home Page News*/
div#news{
	display: block;
	vertical-align: top;
	color: #b9b9b9;
	text-align: left;
	margin: 5% 0 0 0;
	padding: 0 0px 0 0px;
	width: 100%;
	_border: 1px dotted #fff;
	_top: 100%;
}

#news h1{
	color: #7ea2b2;
	font: 1.7em "Kreon", sans-serif;
	padding: 15px 0 5px 0;
}

#news h2{
	display:inline-block;
	color: #dcdcdc;
	font-size: 1.1em;
	_font-size: 19px;
	margin: 25px 0 0 0;
	padding: 0;
}

#news h1+h2{
	margin: 0;
}

#news h2+p{
	color: #7ea2b2;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#news p{
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 1em;
}

#news iframe, #news img{
	float: right;
	margin: 5px 0 25px 25px;
}




/* ====================================== FOOTER */
div#footer{ 
	_display: none;
	display: block;
	margin: 0 0 30px 0;
	padding: 0;
}

#footer div{
	display: block;
	vertical-align: top;
	padding: 0;
}

#footer .logoImage{
	margin: 0 0;
}

#footer div.logoText{
	display: block;
	text-align: center;
}

#footer img{
	display: none;
}

#footer h1 {
	color: #2f4e5a;
	font: 16px "Kreon", sans-serif;
	margin:  12px 0 0 0;
	padding: 0;
	border: #0F0 0px solid;
}

#footer h2 {
	color: #1c4252;
	font: 14px "Kreon", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	border: #F00 0px solid;
}



/* PAGE HEADER */
#pageHeader h1{
	display: block;
	text-align:left;
	margin: 1% 2% 0 4%;
	padding: 0;
	color: #dcdcdc;
	font: 10vw "Kreon", sans-serif;
	font-weight: 700;
}




/* Content */
div#content{
	display: inline-block;
	color: #b9b9b9;
	text-align: left;
	margin: 0 0px 30px 0px;
}

#content div.bio{
	display:inline-block;
	border-bottom: #2f4e5a 2px dotted;
	margin: 0;
	padding: 30px 0 0 0;
	overflow: auto;
	width: 100%; 
}

#content div.bio:first-child{
	padding: 50px 0 20px 0;
	overflow: auto; 
}

#content div.bio:last-child{
	border: 0;
	margin: 0;
	padding: 0;
	padding: 30px 0 0 0;
}

#content div.bio div.leftCol{
	_float: left;
	_display: block;
	display: none;
	margin: 0 0 20px 0;
	padding: 0;
	border: 0px solid #fff;
}

#content div.bio div.rightCol{
	display: block;
	margin: 0 0 0 0;
	padding: 0;
	width: 100%;
	border: 0px solid #fff;
}

#content h1{
	display: block;
	color: #7ea2b2;
	font: 29px "Kreon", sans-serif;
	margin-top: 50px;
}

#content p{
	display: block;
	margin: 0 0 20px 0;
	padding: 0;
}

div#content div.bio div.leftCol img{
	display: none;
	_width: 150px;
}

div#content div.bio div.leftCol iframe{
	display: none;
}

div#content div.bio div.rightCol h1{
	color: #7ea2b2;
	font: 26px "Kreon", sans-serif;
	margin: 0;
	padding: 0;
}

div#content div.bio div.rightCol p span{
	color: #7ea2b2;
	font: 26px "Kreon", sans-serif;
}

div#content div.bio div.leftCol iframe, div#content div.instructor div.leftCol img{
	margin: 5px 25px 25px 0;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.6);
}




/* ========================== Single Column */
div#singleColumn{
	display:inline-block;
	vertical-align: top;
	color: #b9b9b9;
	text-align: left;
	margin: 0;
}

#singleColumn h1{
	margin: 60px auto auto auto;
	color: #7ea2b2;
	font: 29px "Kreon", sans-serif;
}
#singleColumn h1:first-child{
	margin: auto;
}

#singleColumn h2{
	display:inline-block;
	color: #dcdcdc;
	font-size: 19px;
	margin: 25px 0 0 0;
	padding: 0;
}

#singleColumn h1+h2{
	margin: 0;
}

_#singleColumn h2+p{
	color: #7ea2b2;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

#singleColumn p{
	margin: 0 0 20px 0;
	padding: 0;
}

#singleColumn iframe, #singleColumn img{
	float: right;
	margin: 5px 0 25px 25px;
}

#singleColumn ul{
	margin: auto auto auto 3em;
}



}
