@media only screen and (max-width: 45em) {


/*menuIcon*/



/*======================================= DROPDOWN MENU*/
#mainNav {
	display: none;
	_float: right;
	_overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	_border: #999 dotted 2px;
}

#mainNav ul {
	list-style: none;
	width: 50%;
	right: 2%;
	margin: 0;
	padding: 0;
	position: absolute;
	_display: inline-table;
	float: right;
	z-index: 200;
}

#mainNav ul:after {
	content: "";
	clear: both;
	_display: block;
}

#mainNav li {
	_float: right;
	width: 100%;
	padding: 1em 0;
	margin: 0 0 0 0;
	_border: #900 dotted 1px;
	_background: rgba(255, 255, 255, 0.8);
	background: rgba(25, 25, 25, 0.9);
	border-bottom: #4d5051 dotted 1px;
}

#mainNav a {
	font: 5.25vw "Kreon", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	_color: #4f85a6;
	_color: #092a3c;
	color: #eeeeee;
	border: none;
	font-size: 19px;
	text-align: left;
	text-decoration: none;
	padding: 0 0.5em 0 1em;
}

#mainNav a:hover {
	<!--color: #dcdcdc;-->
}

#mainNav li.current {
	background: rgba(8, 87, 102, 0.6);
}
#mainNav .current a {
	color: #dcdcdc;
	cursor: default;
	text-decoration: none;
}



/*======================================= TOP MENU*/

.navWrapper {
	_background-image: url(../_images/navWrapper.png);
	_text-align: left;
	_border: #909 solid 2px;
	
}
div #mobileNav{
	background-color: #085778;
	_display: block;
	padding: 0px 10px 15px 10px;
	_padding: 0;
	border: 0px solid #fff;
	height: 28px;
	margin: 0;
}

div #mobileNav div.logo a{
	float: left;
	color: #dcdcdc;
	font: 23px "Kreon", sans-serif;
	font-weight: 700;
	margin-top: 7px;
	text-decoration: none;
}
div #mobileNav div.menu{
	_background-color: #900;
	float: right;
	_font-size: 23px;
	_font-weight: 700;
	_color: #dcdcdc;
	margin-top: 2px;
}
#mobileNav img{
	_border: 1px solid #fff;
	_display: block;
}


}